!!!
%html
  %head
    %title Госавтоинспекция РФ
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %nav
    %ul
      %li
        %a{:href => "/home_path"} Домашняя страница
      %li
        %a{:href => "/post_path"} Показать все запросы
      %li
        %a{:href => "/show_pdd_path", :target => "_blank"} ПДД
      %li
        %a{:href => "/contact_path"} Контакты
      %li
        -if user_signed_in?
          %a{:href => "/destroy_user_session"} Выйти
        -else
          %a{:href => "/new_user_session"} Войти
    -if !user_signed_in?
      %ul
        %li
          %a{:href => "/new_post_path"} Создать запрос на расписание
    -else
      %ul
        %li
          %a{:href => "/approoved_posts"} Принятое расписание
  %body
    %p.notice= notice
    %p.alert= alert
    %footer
      .main_footer
        © Информационный сервис ГИБДД РФ 2016.
  %link{:href => "http://fonts.googleapis.com/css?family=Arimo:400,700|Inconsolata", :rel => "stylesheet", :type => "text/css"}/

  = yield
